<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title th:text="#{title.find.password}">배달의민족 | 비밀번호 찾기</title>
</head>
<body>
<header th:replace="fragments/basicHeader::basicHeader"></header>

<article class="form-signin w-100 m-auto mt-4">
    <form method="post" th:object="${passwordChangeForm}">
        <h3 class="text-center mb-5" th:text="#{h3.find.password}">비밀번호 찾기</h3>
        <div class="mb-5 pb-5">
            <div>
                <label for="password" class="form-label fs-5 mb-3 fw-bold" th:utext="#{label.find.password.new}"><strong>인증이 완료되었습니다<br>새로운 비밀번호를 설정해주세요</strong></label>
                <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="새로운 비밀번호를 입력해주세요" maxlength="16" th:errorclass="field-error">
                <div class="field-error text-start" th:errors="*{password}"></div>
            </div>
            <div>
                <label for="checkPassword"></label>
                <input th:field="*{checkPassword}" type="password" class="form-control" id="checkPassword" placeholder="비밀번호를 한번 더 입력해주세요" maxlength="16" th:errorclass="field-error">
                <div class="field-error text-start" th:errors="*{checkPassword}"></div>
                <!-- 글로벌 오류 메세지 -->
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                </div>
            </div>
        </div>
        <button class="w-100 btn btn-lg baemin-btn" id="btn_login" type="submit" th:text="#{button.complete}">완료</button>
    </form>
</article>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>