<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title th:text="#{title.find.email}">배달의민족 | 아이디 찾기</title>
</head>
<body>
<header th:replace="fragments/basicHeader::basicHeader"></header>

<article class="form-signin w-100 m-auto mt-4 text-center">
    <h3 class="mb-5" th:text="#{h3.find.email.complete}">인증이 완료되었습니다</h3>
    <div class="mb-5 pb-5">
        <h5 class="mb-5" th:text="#{h5.find.email}">고객님의 배달의민족 아이디 목록입니다</h5>
        <p th:text="|${email} (#{p.find.email.createdDate}: ${#temporals.format(createdDate, 'yyyy-MM-dd')})|"></p>
    </div>
    <button class="w-100 btn btn-lg baemin-btn mb-3" id="btn_login" type="button"
            th:onclick="|location.href='@{/login}'|" th:text="#{button.loginPage}">로그인하기</button>
    <a href="/login/password" th:href="@{/login/password}" class="text-decoration-none text-baemin" th:text="#{button.find.password}">비밀번호 찾기</a>
</article>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>