<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족 | 주문하기</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<!--<section th:replace="fragments/notifications::notifications(${notifications})"></section>-->
<!--<section th:replace="stores/fragments/basket::basket(${baskets})"></section>-->

<article>
    <form class="container px-4 py-3 w-50 border rounded mt-3" style="background-color: rgb(244, 244, 244)"
          method="post" th:action>
        <section>
            <h2 class="text-center">주문하기</h2>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">배달정보</h5>
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <input th:field="${deliveryAddForm.mainAddress}" type="text" id="mainAddress" name="mainAddress" value="서울시 서초구 반포동 20-43" class="form-control-plaintext" readonly>
                                <input th:field="${deliveryAddForm.detailAddress}" type="text" class="form-control" id="detailAddress">
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <input th:field="${deliveryAddForm.phone}" type="text" id="phone" name="phone" value="010-1234-5678" class="form-control-plaintext" readonly>
                            <div class="form-check">
                                <input th:field="${deliveryAddForm.safeNumber}" class="form-check-input" type="checkbox" value="" id="safeNumber">
                                <label class="form-check-label" for="safeNumber">안심번호 사용</label>
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#useReliefNumberDetail">자세히</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">요청사항</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="form-check">
                                            <input th:field="${orderAddForm.disposable}" class="form-check-input" type="checkbox" value="" id="disposable">
                                            <label class="form-check-label" for="disposable">일회용 수저, 포크는 안 주셔도 돼요</label>
                                        </div>
                                        <div class="form-check">
                                            <input th:field="${orderAddForm.sideDish}" class="form-check-input" type="checkbox" value="" id="sideDish">
                                            <label class="form-check-label" for="sideDish">김치, 단무지는 안 주셔도 돼요</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <label for="toStore" class="form-label text-muted">가게 사장님께</label>
                                <input th:field="${orderAddForm.requirement}" type="text" class="form-control" id="toStore" placeholder="예) 견과류 빼주세요, 덜 맵게 해주세요">
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <label for="toRider" class="form-label text-muted">라이더님께</label>
                            <select th:field="${deliveryAddForm.requirement}" class="form-select" id="toRider" onchange="test()">
                                <option value="조심히 안전하게 와주세요 :)">조심히 안전하게 와주세요 :)</option>
                                <option value="문앞에 두고 벨 눌러주세요">문앞에 두고 벨 눌러주세요</option>
                                <option value="벨 누르지 말고 노크해주세요">벨 누르지 말고 노크해주세요</option>
                                <option value="도착하기 전에 전화해주세요">도착하기 전에 전화해주세요</option>
                                <option value="요청사항 없음">요청사항 없음</option>
                                <option value="write">직접 입력</option>
                            </select>
                            <div id="toRiderForm" style="display: none">
                                <label for="request" class="form-label"></label>
                                <input type="text" class="form-control" id="request" placeholder="배달 시 요청사항을 적어주세요.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">결제수단</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="baeminPay" value="0">
                                <label class="form-check-label" for="baeminPay">배민페이</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="card" value="1">
                                <label class="form-check-label" for="card">신용/체크카드</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="phone" value="2">
                                <label class="form-check-label" for="phone">휴대폰결제</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="naverPay" value="3">
                                <label class="form-check-label" for="naverPay">네이버페이</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="toss" value="4">
                                <label class="form-check-label" for="toss">토스</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="card btn" data-bs-toggle="modal" data-bs-target="#giftBox">
                        <div class="row card-body">
                            <div class="col text-start">
                                <h5 class="card-text">선물함</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-text text-muted">0원</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card btn mt-3" data-bs-toggle="modal" data-bs-target="#discountCoupon">
                        <div class="row card-body">
                            <div class="col text-start">
                                <h5 class="card-text">할인쿠폰</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-text text-muted">3개 보유</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card btn mt-3" data-bs-toggle="modal" data-bs-target="#baeminPoint">
                        <div class="row card-body">
                            <div class="col text-start">
                                <h5 class="card-text">배민포인트</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-text text-muted">100원 사용가능</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">현금영수증</h5>
                        </div>
                        <div class="col text-end">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cashReceipt" id="unApply" value="option1" onchange="cashReceipt()" checked>
                                <label class="form-check-label" for="unApply">미신청</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cashReceipt" id="apply" value="option2" onchange="cashReceipt()">
                                <label class="form-check-label" for="apply">신청</label>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3" id="cashReceiptForm" style="display: none">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="selectCashReceipt" id="individual" onchange="cashReceiptDetail()" checked>
                                <label class="form-check-label" for="individual">
                                    개인소득공제용
                                </label>
                            </div>
                            <div id="individualForm">
                                <label for="phoneNumber" class="form-label"></label>
                                <input type="text" class="form-control" id="phoneNumber" placeholder="휴대폰번호를 입력하세요.">
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="radio" name="selectCashReceipt" id="business" onchange="cashReceiptDetail()">
                                <label class="form-check-label" for="business">
                                    사업자증빙용
                                </label>
                            </div>
                            <div id="businessForm" style="display: none">
                                <label for="businessNumber" class="form-label"></label>
                                <input type="text" class="form-control" id="businessNumber" placeholder="사업자번호를 입력하세요.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">결제금액</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-start">
                                    주문금액
                                </div>
                                <div class="col text-end">
                                    54,000원
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    배달팁
                                </div>
                                <div class="col text-end">
                                    3,000원
                                </div>
                            </div>
                            <div class="row border-top fw-bolder">
                                <div class="col text-start">
                                    총 결제금액
                                </div>
                                <div class="col text-end">
                                    57,000원
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <button type="submit" class="btn baemin-btn btn-lg w-100 mt-3">결제하기</button>
        </section>
    </form>
</article>

<!-- 안심번호 모달 -->
<div class="modal fade" id="useReliefNumberDetail" tabindex="-1" aria-labelledby="useReliefNumberDetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    안심번호는 고객님의 개인정보를 보호하기 위해 실제 전화번호 대신 가상의 번소로 전화를 받을 수 있는 기능으로 배달의 맨족 웹 신규 버전 'my배민 > 환경설정'에서 상시 사용 여부를 설정할 수 있습니다. 전화를 받을 때만 유효하며, 가게나 하이더에게 전화를 거실 때는 고객님의 실제 번호가 노출되니 주의해주세요.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light w-100" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 선물함 모달 -->
<div class="modal fade" id="giftBox" tabindex="-1" aria-labelledby="giftBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="giftBoxLabel">선물함</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="9자리 선물코드를 입력해주세요." aria-label="9자리 선물코드를 입력해주세요." aria-describedby="createGiftCode">
                    <button class="btn btn-outline-secondary" type="button" id="createGiftCode">등록</button>
                </div>
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<!-- 할인쿠폰 모달 -->
<div class="modal fade" id="discountCoupon" tabindex="-1" aria-labelledby="discountCouponLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountCouponLabel">할인쿠폰</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="쿠폰코드를 입력해주세요." aria-label="쿠폰코드를 입력해주세요." aria-describedby="createCouponCode">
                    <button class="btn btn-outline-secondary" type="button" id="createCouponCode">등록</button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-check form-check-reverse">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label text-start w-100" for="radio1">
                                        <div class="row">
                                            <div class="col">
                                                1,000원
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                BBQ XX점 쿠폰
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                13일 후 만료(2022/08/20)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                최소주문금액 : 20,000원
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-sm-1 align-self-center">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="form-check form-check-reverse">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label text-start w-100" for="radio2">
                                        <div class="row">
                                            <div class="col">
                                                1,000원
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                BBQ XX점 쿠폰
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                13일 후 만료(2022/08/20)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                최소주문금액 : 20,000원
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-sm-1 align-self-center">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio2" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">적용하기</button>
            </div>
        </div>
    </div>
</div>

<!-- 할인쿠폰 모달 -->
<div class="modal fade" id="baeminPoint" tabindex="-1" aria-labelledby="baeminPointLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="baeminPointLabel">배민포인트</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>보유 포인트</h5>
                <h4>100원</h4>
                <div class="mb-3">
                    <label for="usingPoint" class="form-label"></label>
                    <input type="text" class="form-control" id="usingPoint" placeholder="사용할 포인트를 입력해주세요.">
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-start w-100">
                    <span>배민포인트 사용 안내</span>
                    <ul>
                        <li>배민포인트는 1원 단위로 사용 가능합니다.</li>
                        <li>보유 포인트 중 만료 기간이 가까운 포인트부터 사용됩니다.</li>
                        <li>적립 예정 포인트는 사용 가능한 포인트에서 제외됩니다.</li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary w-100">사용하기</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>