<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족 | 주문하기</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<!--<section th:replace="fragments/notifications::notifications(${notifications})"></section>-->
<!--<section th:replace="stores/fragments/basket::basket(${baskets})"></section>-->

<article>
    <form class="container px-4 py-3 w-50 border rounded mt-3" style="background-color: rgb(244, 244, 244)"
          method="post" th:action>
        <section>
            <h2 class="text-center">주문하기</h2>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">배달정보</h5>
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <input th:field="${deliveryAddForm.mainAddress}" type="text" class="form-control-plaintext" readonly>
                                <input th:field="${deliveryAddForm.detailAddress}" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <input th:field="${deliveryAddForm.phone}" type="text" class="form-control-plaintext" readonly>
                            <div class="form-check">
                                <input th:field="${deliveryAddForm.safeNumber}" class="form-check-input" type="checkbox" id="safeNumber">
                                <label class="form-check-label" for="safeNumber">안심번호 사용</label>
                                <span class="badge rounded-pill text-bg-secondary" data-bs-toggle="modal" data-bs-target="#useReliefNumberDetail">자세히</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">요청사항</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="form-check">
                                            <input th:field="${orderAddForm.disposable}" class="form-check-input" type="checkbox" value="" id="disposable">
                                            <label class="form-check-label" for="disposable">일회용 수저, 포크는 안 주셔도 돼요</label>
                                        </div>
                                        <div class="form-check">
                                            <input th:field="${orderAddForm.sideDish}" class="form-check-input" type="checkbox" value="" id="sideDish">
                                            <label class="form-check-label" for="sideDish">김치, 단무지는 안 주셔도 돼요</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <label for="toStore" class="form-label text-muted">가게 사장님께</label>
                                <input th:field="${orderAddForm.requirement}" type="text" class="form-control" id="toStore" placeholder="예) 견과류 빼주세요, 덜 맵게 해주세요">
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <label for="toRider" class="form-label text-muted">라이더님께</label>
                            <select th:field="${deliveryAddForm.requirement}" class="form-select" id="toRider" onchange="toRiderWrite(this.value)">
                                <option value="조심히 안전하게 와주세요 :)">조심히 안전하게 와주세요 :)</option>
                                <option value="문앞에 두고 벨 눌러주세요">문앞에 두고 벨 눌러주세요</option>
                                <option value="벨 누르지 말고 노크해주세요">벨 누르지 말고 노크해주세요</option>
                                <option value="도착하기 전에 전화해주세요">도착하기 전에 전화해주세요</option>
                                <option value="요청사항 없음">요청사항 없음</option>
                                <option value="write">직접 입력</option>
                            </select>
                            <div id="toRiderForm">
                                <label for="request" class="form-label"></label>
                                <input type="text" class="form-control" id="request" placeholder="배달 시 요청사항을 적어주세요.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">결제수단</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check form-check-inline" th:each="method : ${paymentMethods}">
                                <input class="form-check-input" th:field="${paymentAddForm.paymentMethod}" type="radio" th:value="${method.name()}">
                                <label class="form-check-label" th:for="${#ids.prev('paymentMethod')}" th:text="${method.description}">배민페이</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="card btn" data-bs-toggle="modal" data-bs-target="#giftBox">
                        <div class="row card-body">
                            <div class="col text-start">
                                <h5 class="card-text">선물함</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-text text-muted">0원</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card btn mt-3" data-bs-toggle="modal" data-bs-target="#discountCoupon">
                        <div class="row card-body">
                            <div class="col text-start">
                                <h5 class="card-text">할인쿠폰</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-text text-muted couponInfo">3개 보유</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card btn mt-3" data-bs-toggle="modal" data-bs-target="#baeminPoint">
                        <div class="row card-body">
                            <div class="col text-start">
                                <h5 class="card-text">배민포인트</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-text text-muted totalPoint">100원 사용가능</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">현금영수증</h5>
                        </div>
                        <div class="col text-end">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cashReceipt" id="unApply" value="option1" onchange="cashReceipt()" checked>
                                <label class="form-check-label" for="unApply">미신청</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cashReceipt" id="apply" value="option2" onchange="cashReceipt()">
                                <label class="form-check-label" for="apply">신청</label>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3" id="cashReceiptForm" style="display: none">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="selectCashReceipt" id="individual" onchange="cashReceiptDetail()" checked>
                                <label class="form-check-label" for="individual">
                                    개인소득공제용
                                </label>
                            </div>
                            <div id="individualForm">
                                <label for="phoneNumber" class="form-label"></label>
                                <input type="text" class="form-control" id="phoneNumber" placeholder="휴대폰번호를 입력하세요.">
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="radio" name="selectCashReceipt" id="business" onchange="cashReceiptDetail()">
                                <label class="form-check-label" for="business">
                                    사업자증빙용
                                </label>
                            </div>
                            <div id="businessForm" style="display: none">
                                <label for="businessNumber" class="form-label"></label>
                                <input type="text" class="form-control" id="businessNumber" placeholder="사업자번호를 입력하세요.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card mt-3">
                <div class="card-body" th:object="${paymentAddForm}">
                    <h5 class="card-title">결제금액</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-start">
                                    주문금액
                                </div>
                                <div class="col text-end" th:text="|*{#numbers.formatInteger(orderAmount, 0, 'COMMA')}원|">
                                    54,000원
                                </div>
                                <input type="hidden" th:field="*{orderAmount}">
                            </div>
                            <div class="row" id="coupon">
                                <div class="col text-start">
                                    할인쿠폰
                                </div>
                                <div class="col text-end coupon">
                                    -2,000원
                                </div>
                                <input type="hidden" th:field="*{couponId}">
                                <input type="hidden" name="discountPrice">
                            </div>
                            <div class="row" id="point">
                                <div class="col text-start">
                                    배민포인트
                                </div>
                                <div class="col text-end point">
                                    -100원
                                </div>
                                <input type="hidden" th:field="*{point}">
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    배달팁
                                </div>
                                <div class="col text-end" th:text="|*{#numbers.formatInteger(deliveryTip, 0, 'COMMA')}원|">
                                    3,000원
                                </div>
                                <input type="hidden" th:field="*{deliveryTip}">
                            </div>
                            <div class="row border-top fw-bolder">
                                <div class="col text-start">
                                    총 결제금액
                                </div>
                                <div class="col text-end totalAmount">
                                    57,000원
                                </div>
                                <input type="hidden" th:field="*{totalAmount}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <button type="submit" class="btn baemin-btn btn-lg w-100 mt-3">결제하기</button>
        </section>
    </form>
</article>

<!-- 안심번호 모달 -->
<div class="modal fade" id="useReliefNumberDetail" tabindex="-1" aria-labelledby="useReliefNumberDetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    안심번호는 고객님의 개인정보를 보호하기 위해 실제 전화번호 대신 가상의 번소로 전화를 받을 수 있는 기능으로 배달의 맨족 웹 신규 버전 'my배민 > 환경설정'에서 상시 사용 여부를 설정할 수 있습니다. 전화를 받을 때만 유효하며, 가게나 하이더에게 전화를 거실 때는 고객님의 실제 번호가 노출되니 주의해주세요.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light w-100" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 선물함 모달 -->
<div class="modal fade" id="giftBox" tabindex="-1" aria-labelledby="giftBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="giftBoxLabel">선물함</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="9자리 선물코드를 입력해주세요." aria-label="9자리 선물코드를 입력해주세요." aria-describedby="createGiftCode">
                    <button class="btn btn-outline-secondary" type="button" id="createGiftCode">등록</button>
                </div>
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<!-- 할인쿠폰 모달 -->
<div class="modal fade" id="discountCoupon" tabindex="-1" aria-labelledby="discountCouponLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountCouponLabel">할인쿠폰</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="쿠폰코드를 입력해주세요." aria-label="쿠폰코드를 입력해주세요." aria-describedby="createCouponCode">
                    <button class="btn btn-outline-secondary" type="button" id="createCouponCode">등록</button>
                </div>
                <div class="card mb-3" th:each="coupon : ${coupons}">
                    <div class="card-body">
                        <div class="form-check form-check-reverse">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label text-start w-100" th:for="|coupon${couponStat.index}|">
                                        <div class="row">
                                            <div class="col" th:text="|${#numbers.formatInteger(coupon.discountPrice, 0, 'COMMA')}원|">
                                                1,000원
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col" th:text="${coupon.couponName}">
                                                BBQ XX점 쿠폰
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col" th:text="${coupon.expirationDate}">
                                                13일 후 만료(2022/08/20)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span>최소주문금액 : </span>
                                                <span th:text="|${#numbers.formatInteger(coupon.minOrderPrice, 0, 'COMMA')}원|">20,000원</span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-sm-1 align-self-center">
                                    <input class="form-check-input" type="radio" name="coupon" th:id="|coupon${couponStat.index}|" th:value="${coupon.id}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn baemin-btn w-100" data-bs-dismiss="modal" aria-label="Close" onclick="useCoupon()">적용하기</button>
            </div>
        </div>
    </div>
</div>

<!-- 배민 포인트 -->
<div class="modal fade" id="baeminPoint" tabindex="-1" aria-labelledby="baeminPointLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="baeminPointLabel">배민포인트</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>보유 포인트</h5>
                <h4 th:text="|${#numbers.formatInteger(totalPoint, 0, 'COMMA')}원|">100원</h4>
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputPoint" name="inputPoint" placeholder="사용할 포인트를 입력해주세요.">
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-start w-100">
                    <span>배민포인트 사용 안내</span>
                    <ul>
                        <li>배민포인트는 1원 단위로 사용 가능합니다.</li>
                        <li>보유 포인트 중 만료 기간이 가까운 포인트부터 사용됩니다.</li>
                        <li>적립 예정 포인트는 사용 가능한 포인트에서 제외됩니다.</li>
                    </ul>
                </div>
                <button type="button" class="btn baemin-btn w-100" data-bs-dismiss="modal" aria-label="Close" onclick="usePoint()">사용하기</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>
<script th:inline="javascript">
    $(document).ready(function () {
        $("#toRiderForm").hide();
        $("#point").hide();
        $("#coupon").hide();
        totalAmount();
        $(".totalPoint").text(Number([[${totalPoint}]]).toLocaleString("ko-KR") + "원 사용가능");
    });

    /**
     * 총 결제금액 계산
     */
    function totalAmount() {
        const orderAmount = [[${paymentAddForm.orderAmount}]];
        const deliveryTip = [[${paymentAddForm.deliveryTip}]];
        const point = $("input[name=inputPoint]").val();
        const discountPrice = $("input[name=discountPrice]").val();

        const result = orderAmount + deliveryTip - point - discountPrice;
        $("#totalAmount").val(result);
        const totalAmountToString = Number(result).toLocaleString("ko-KR");
        $(".totalAmount").text(totalAmountToString + "원");
    }

    /**
     * 포인트 사용
     */
    function usePoint() {
        const totalPoint = [[${totalPoint}]];
        const point = $("input[name=inputPoint]").val();
        $("input[name=point]").val(point);
        if (point == 0 || point == null) {
            $("#point").hide();
            totalPoint = totalPoint.toLocaleString("ko-KR");
            $(".totalPoint").text(totalPoint + "원 사용가능");
        } else {
            $("#point").show();
            const pointToString = "-" + Number(point).toLocaleString("ko-KR") + "원";
            $(".point").text(pointToString);
            $(".totalPoint").text(pointToString);
        }
        totalAmount();
    }

    /**
     * 포인트 한도 확인
     */
    $("#inputPoint").keyup(function () {
        const maxPoint = [[${totalPoint}]]
        const point = $("#inputPoint").val();
        if (maxPoint < point) {
            alert("사용 가능한 금액을 초과하였습니다.");
            $("#inputPoint").val(maxPoint);
        }
    });

    /**
     * 쿠폰 사용
     */
    function useCoupon() {
        const couponId = $("input[name='coupon']:checked").val();

        const couponData = {
            "couponId": couponId
        }

        $.ajax({
            url: "/orders/coupons",
            data: couponData,
            type: "POST",
            cache: false,
            success: function (coupon) {
                $("input[name=couponId]").val(coupon.couponId);
                $("input[name=discountPrice]").val(coupon.discountPrice);
                $("#coupon").show();

                const discountPriceToString = "-" + Number(coupon.discountPrice).toLocaleString("ko-KR") + "원";
                $(".coupon").text(discountPriceToString);
                $(".couponInfo").text(discountPriceToString);
                totalAmount();
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>
</body>
</html>