<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<section th:replace="fragments/notifications::notifications(${notifications})"></section>
<section th:replace="stores/fragments/basket::basket(${basket}, ${basketMenus})"></section>

<article>
    <div class="container px-4 py-5">
        <div class="row">
            <div class="col-sm-2 bg-secondary bg-opacity-10 border" style="height: 430px">
                <nav class="nav flex-column p-3">
                    <a class="nav-link" href="#">족발·보쌈</a>
                    <a class="nav-link" href="#">돈까스·회·일식</a>
                    <a class="nav-link" href="/stores?category=PIZZA">피자</a>
                    <a class="nav-link" href="#">찜·탕·찌개</a>
                    <a class="nav-link" href="#">중식</a>
                    <a class="nav-link" href="/stores?category=CHICKEN">치킨</a>
                    <a class="nav-link" href="/stores?category=BURGER">버거</a>
                    <a class="nav-link" href="#">분식</a>
                    <a class="nav-link" href="/stores?category=CAFE">카페·디저트</a>
                    <a class="nav-link" href="#">백반·죽·국수</a>
                </nav>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- store start -->
                    <div class="col" th:each="store : ${stores}">
                        <div class="card" th:onclick="|location.href='@{/stores/{storeId}/detail (storeId=${store.storeId})}'|" style="cursor: pointer">
                            <div class="card-body">
                                <div class="d-flex">
                                    <img th:src="${store.storeFileName}" alt="img" style="height: 100px;">
                                    <div class="flex-grow-1 ms-3">
                                        <div class="row">
                                            <div class="col" th:text="${store.storeName}">
                                                가게 이름
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span><i class="bi bi-star-fill text-warning"></i></span>
                                                <span th:text="|${store.rating}(${store.reviewCount})|">4.9(100+)</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span th:text="|최소주문 ${#numbers.formatInteger(store.minOrderPrice, 0, 'COMMA')}원|"></span>
                                                <span th:text="|, 배달팁 ${#numbers.formatInteger(store.minOrderPrice, 0, 'COMMA')}원|"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span class="badge text-bg-secondary">
                                                    <span><i class="bi bi-clock"></i></span>
                                                    <span th:text="${store.deliveryTime}"></span>
                                                </span>
                                                <span class="badge text-bg-secondary" th:if="${store.packingInfo}">포장가능</span>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- store end -->
                </div>
            </div>
        </div>
    </div>
</article>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>