<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="../../static/icon/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>배달의 민족</title>
</head>
<body>
<!-- login header -->
<header class="p-3">
    <div class="container">
        <div class="row ms-3 me-3">
            <div class="col w-25 align-self-center">
                <a href="#">
                    <img src="../../static/img/logo.png" alt="main_icon" height="20"/>
                </a>
            </div>
            <div class="col w-50">
                <form role="search">
                    <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
                </form>
            </div>
            <div class="col w-25 align-self-center">
                <ul class="nav pe-2 justify-content-end">
                    <li class="nav-item ps-4">
                        <svg onclick="location.href='#'"
                             xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart white" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </li>
                    <!-- 알림 -->
                    <li class="nav-item ps-4">
                        <svg data-bs-toggle="modal" data-bs-target="#exampleModal"
                             xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell white" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                    </li>
                    <li class="nav-item ps-4">
                        <svg onclick="location.href='#'"
                             xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person white" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- 알림 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림센터</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">리뷰를 남겨보세요.</h5>
                        <p class="card-text">
                            <strong>BBQ XX점</strong>의 음식이 맛있으셨다면 다른 분들을 위해 리뷰를 남겨주세요. (리뷰 쓰기는 주문 이후 3일 동안만 가능합니다.)
                        </p>
                        <p class="card-text text-muted">
                            08월 09일 20:00
                        </p>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">조리가 완료되었습니다.</h5>
                        <p class="card-text">
                            <strong>BBQ XX점</strong>을(를) 이용해주셔서 감사합니다. 맛있게 드세요.
                        </p>
                        <p class="card-text text-muted">
                            08월 09일 19:30
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<article>
    <div class="container px-4 py-5">
        <div class="row">
            <div class="col-sm-2 bg-secondary bg-opacity-10 border" style="height: 430px">
                <nav class="nav flex-column p-3">
                    <a class="nav-link" href="#">족발·보쌈</a>
                    <a class="nav-link" href="#">돈까스·회·일식</a>
                    <a class="nav-link" href="#">피자</a>
                    <a class="nav-link" href="#">찜·탕·찌개</a>
                    <a class="nav-link" href="#">중식</a>
                    <a class="nav-link" href="#">치킨</a>
                    <a class="nav-link" href="#">버거</a>
                    <a class="nav-link" href="#">분식</a>
                    <a class="nav-link" href="#">카페·디저트</a>
                    <a class="nav-link" href="#">백반·죽·국수</a>
                </nav>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- store start -->
                    <div class="col">
                        <div class="card" onclick="location.href='#'" style="cursor: pointer">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="https://via.placeholder.com/100x100" alt="img" style="height: 100px;">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="row">
                                            <div class="col">
                                                가게 이름
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                4.9(100+)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                최소주문 0원
                                            </div>
                                            <div class="col">
                                                배달팁 0원
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- store end -->
                </div>
            </div>
        </div>
    </div>
</article>

<!-- footer -->
<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-muted border-top">&copy; 2022 Company, Inc</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>