<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족 | 찜 리스트</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<section th:replace="fragments/notifications::notifications(${notifications})"></section>
<section th:replace="stores/fragments/basket::basket(${basket})"></section>

<article>
    <div class="container px-4 py-5">
        <div>
            <section th:replace="member/fragments/topInfo::topInfo (${topInfoMap})"></section>
            <section>
                <div class="container text-center">
                    <div class="row">
                        <div th:replace="member/fragments/sidebar::sidebar"></div>
                        <div class="col text-start">
                            <div class="m-4">
                                <div class="row mb-1">
                                    <div class="col">
                                        <h2>찜 리스트</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="m-4">
                                <div class="row row-cols-1 row-cols-md-2 g-4">
                                    <div th:if="${bookmarks.size()} == 0">
                                        찜 리스트가 없습니다
                                    </div>
                                    <div class="col" th:each="bookmark : ${bookmarks}">
                                        <div class="card" th:onclick="|location.href='@{/stores/{storeId}/detail(storeId=${bookmark.storeId})}'|" style="cursor: pointer">
                                            <div class="card-body">
                                                <div class="d-flex position-relative">
                                                    <img src="https://via.placeholder.com/125x125" th:src="${bookmark.storeFileName}" class="flex-shrink-0 me-3" alt="store img" style="height: 125px;">
                                                    <ul style="list-style: none; padding-left: 0;">
                                                        <li th:text="${bookmark.storeName}">store name</li>
                                                        <li>
                                                            <span><i class="bi bi-star-fill text-warning"></i></span>
                                                            <span th:text="|${bookmark.storeRating} (${bookmark.storeReviewCount})|">rating (review count)</span>
                                                        </li>
                                                        <li>
                                                            <span th:text="|최소주문 ${#numbers.formatInteger(bookmark.minOrderPrice, 0, 'COMMA')}원|"></span>
                                                            <span th:text="|, 배달팁 ${#numbers.formatInteger(bookmark.minOrderPrice, 0, 'COMMA')}원|"></span>
                                                        </li>
                                                        <li>
                                                            <span class="badge text-bg-secondary">
                                                                <span><i class="bi bi-clock"></i></span>
                                                                <span th:text="${bookmark.deliveryTime}"></span>
                                                            </span>
                                                            <span class="badge text-bg-secondary" th:if="${bookmark.packingInfo}">포장가능</span>
                                                        </li>
                                                    </ul>
                                                    <div class="position-absolute top-0 end-0">
                                                        <button type="button" class="btn-close" aria-label="Close" th:onclick="'javascript:remove('+${bookmark.bookmarkId}+')'"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

<footer th:replace="fragments/footer::footer"></footer>
<script>
    function remove(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/bookmarks/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>

</html>