<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족 | 쿠폰함</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<section th:replace="fragments/notifications::notifications(${notifications})"></section>
<section th:replace="stores/fragments/basket::basket(${basket}, ${basketMenus})"></section>

<article>
    <div class="container px-4 py-5">
        <div>
            <section th:replace="member/fragments/topInfo::topInfo (${topInfoMap})"></section>

            <section>
                <div class="container text-center">
                    <div class="row">
                        <div th:replace="member/fragments/sidebar::sidebar"></div>
                        <div class="col text-start">
                            <h4 class="m-4">쿠폰함</h4>
                            <!-- 쿠폰내역시작 -->
                            <div class="m-4 bg-secondary border" style="--bs-bg-opacity: .1;">
                                <div class="row" style="height: 150px;">
                                    <div class="col border-end">
                                        <div class="m-3 ms-4 h-25 fs-4">
                                            사용가능 쿠폰
                                        </div>
                                        <div class="text-end align-self-bottom fs-1 mt-4" th:text="|${possibleCoupon}개|">
                                            0개
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="m-3 h-25 fs-4">
                                            마감임박 할인쿠폰 > 24시간 이내
                                        </div>
                                        <div class="text-end align-self-bottom fs-1 mt-4 me-3" th:text="|${dayPossibleCoupon}개|">
                                            0개
                                        </div>
                                    </div>
                                </div>
                                <div class="row border-top m-2" style="height: 125px;">
                                    <div class="text-center fs-4 mt-5" style="width: 250px;">
                                        할인쿠폰 교환권 등록
                                    </div>
                                    <div class="col mt-5">
                                        <form method="post" th:action="@{/coupons/addCoupon}" th:object="${couponSaveForm}">
                                            <div class="row g-3">
                                                <div class="col">
                                                    <input th:field="*{first}" type="text" class="form-control" aria-label="First name" maxlength="4">
                                                </div>
                                                <div class="col">
                                                    <input th:field="*{second}" type="text" class="form-control" aria-label="Second name" maxlength="4">
                                                </div>
                                                <div class="col">
                                                    <input th:field="*{third}" type="text" class="form-control" aria-label="Third name" maxlength="4">
                                                </div>
                                                <div class="col">
                                                    <input th:field="*{fourth}" type="text" class="form-control" aria-label="Fourth name" maxlength="4">
                                                </div>
                                                <div class="col">
                                                    <button class="w-100 btn custom-btn" id="btn_login" type="submit">입력하기</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- 쿠폰내역끝 -->
                            <!-- 쿠폰리스트시작 -->
                            <div class="m-4">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <button class="nav-link active w-50" id="nav-possible-tab" data-bs-toggle="tab" data-bs-target="#nav-possible" type="button" role="tab" aria-controls="nav-possible" aria-selected="true">사용가능</button>
                                    <button class="nav-link w-50" id="nav-impossible-tab" data-bs-toggle="tab" data-bs-target="#nav-impossible" type="button" role="tab" aria-controls="nav-impossible" aria-selected="false">사용완료 / 기간만료</button>
                                </ul>
                                <div class="tab-content mt-3" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-possible" role="tabpanel" aria-labelledby="nav-possible-tab" tabindex="0">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th scope="col">쿠폰명</th>
                                                <th scope="col">할인액(율)</th>
                                                <th scope="col">최소주문금액</th>
                                                <th scope="col">유효기간</th>
                                                <th scope="col">쿠폰종류</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                            <tr th:each="coupon : ${coupons}" th:if="${coupon.status.toString()} == 'UNUSE'">
                                                <th scope="row" class="fw-bold" th:text="${coupon.couponName}">BBQ XX점 쿠폰</th>
                                                <td th:text="|${#numbers.formatInteger(coupon.discountPrice, 0, 'COMMA')}원|">1,000원</td>
                                                <td th:text="|${#numbers.formatInteger(coupon.minOrderPrice, 0, 'COMMA')}원|">20,000원</td>
                                                <td th:text="|${#temporals.format(coupon.expirationDate, 'yyyy.MM.dd')} 까지|">2022.08.03 까지</td>
                                                <td class="fw-bold">쿠폰</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="nav-impossible" role="tabpanel" aria-labelledby="nav-impossible-tab" tabindex="0">
                                        <p class="fs-custom text-muted">미사용, 기간만료 쿠폰은 최근 6개월 내역만, 조회 가능합니다</p>
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th scope="col">쿠폰명</th>
                                                <th scope="col">할인액(율)</th>
                                                <th scope="col">사용조건</th>
                                                <th scope="col">유효기간</th>
                                                <th scope="col">사용여부</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                            <tr th:each="coupon : ${coupons}" th:if="${coupon.status.toString()} != 'UNUSE'">
                                                <th scope="row" class="fw-bold" th:text="${coupon.couponName}">BBQ XX점 쿠폰</th>
                                                <td th:text="|${#numbers.formatInteger(coupon.discountPrice, 0, 'COMMA')}원|">1,000원</td>
                                                <td th:text="|${#numbers.formatInteger(coupon.minOrderPrice, 0, 'COMMA')}원|">20,000원</td>
                                                <td th:text="|${#temporals.format(coupon.expirationDate, 'yyyy.MM.dd')} 까지|">2022.08.03 까지</td>
                                                <td class="fw-bold" th:text="${coupon.status.description}">기간만료</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- 쿠폰리스트종료 -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

<footer th:replace="fragments/footer::footer"></footer>
<script th:inline="javascript">
    const addCouponError = [[${addCouponError}]];

    window.onload = function () {
        if (addCouponError != null) {
            alert(addCouponError);
        }
    }
</script>
</body>

</html>