<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<div th:replace="fragments/notifications::notifications(${notifications})"></div>

<article>
    <div class="container px-4 py-5">
        <div>
            <!-- top info -->
            <section>
                <div class="container text-center">
                    <div class="row bg-main text-white" style="">
                        <div class="col-sm-2 align-self-center fs-1 bg-main">
                            MY배민
                        </div>
                        <div class="col border-start">
                            <div class="row align-self-center text-start p-2">
                                <div class="col fs-5">
                                    회원등급
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#memberGradeInfo">
                                        등급별 혜택
                                    </button>
                                </div>
                            </div>
                            <div class="row align-self-center fs-1 ps-3">
                                <div class="col text-end">
                                    VIP
                                </div>
                            </div>
                        </div>
                        <div class="col border-start">
                            <div class="row align-self-center text-start p-2">
                                <div class="col fs-5">
                                    할인쿠폰
                                </div>
                            </div>
                            <div class="row align-self-center fs-1 ps-3">
                                <div class="col text-end">
                                    0장
                                </div>
                            </div>
                        </div>
                        <div class="col border-start">
                            <div class="row align-self-center text-start p-2">
                                <div class="col fs-5">
                                    리뷰작성
                                </div>
                            </div>
                            <div class="row align-self-center fs-1 ps-3">
                                <div class="col text-end">
                                    0개
                                </div>
                            </div>
                        </div>
                        <div class="col border-start">
                            <div class="row border-bottom h-50">
                                <div class="col-sm-4 align-self-center text-start fs-5">
                                    포인트
                                </div>
                                <div class="col align-self-center text-end">
                                    500,000 원
                                </div>
                            </div>
                            <div class="row h-50">
                                <div class="col-sm-4 align-self-center text-start fs-5">
                                    페이
                                </div>
                                <div class="col align-self-center text-end">
                                    500,000 원
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container text-center">
                    <!-- sidebar -->
                    <div class="row">
                        <div th:replace="fragments/mypageSidebar::mypageSidebar"></div>
                        <div class="col text-start">
                            <h4 class="m-4">주문내역</h4>
                            <div class="col-lg-5 ms-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="주문내역 검색" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                        <img src="/icon/search.svg" alt="검색 아이콘">
                                    </button>
                                </div>
                            </div>
                            <!-- 주문내역시작 -->
                            <div class="m-4">
                                <div class="border rounded-3">
                                    <div class="row m-3">
                                        <div class="col">
                                            2022. 07. 25 주문
                                        </div>
                                        <div class="col text-end">
                                            <a href="#" class="nav-link link-primary">주문 상세보기 ></a>
                                        </div>
                                    </div>
                                    <div class="row rounded-3 ms-3 me-3 mb-3 border">
                                        <div class="col">
                                            <div class="row mt-2 mb-2 fs-4">
                                                <div class="col">
                                                    배송완료
                                                </div>
                                                <div class="col">
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button type="button" class="btn btn-outline-secondary">장바구니 담기</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="d-flex position-relative">
                                                    <img src="https://via.placeholder.com/100x100" class="d-block flex-shrink-0 me-3" alt="store img 1" style="height: 100px;">
                                                    <div>
                                                        <h5 class="mt-0">주문한 음식명</h5>
                                                        <p>가격/수량</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-start" style="width: 250px;">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-outline-secondary mt-3 ms-3 me-3" style="width: 200px;">가게보기</button>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-outline-secondary m-3" style="width: 200px;">리뷰 작성하기</button>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-outline-danger mb-3 ms-3 me-3" style="width: 200px;">주문내역 삭제</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 주문내역끝 -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

<!-- memberGradeInfo -->
<div class="modal fade" id="memberGradeInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="memberGradeInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="memberGradeInfoLabel">등급별 혜택 안내</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="|${loginMember.nickname}님은 이번달 ${loginMember.grade.description}입니다|"></p>
                <p>x번 더 주문하면 다음달 배민 VIP가 됩니다</p>
                <p>x월 누적 주문: x회</p>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                1. 회원등급
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul>
                                    <li>회원등급 업데이트는 매월 1 일 오전 중에 진행됩니다.</li>
                                    <li>회원등급은 전월 주문 횟수에 따라 결정됩니다.</li>
                                    <li>주문횟수는 매월 1일부터 말일까지 배달의 민족의 누적 배달 완료 횟수를 기준으로 합니다.</li>
                                    <li>전화 주문, 취소 주문 건은 주문횟수에 포함되지 않습니다.</li>
                                    <li>배달의민족 장바구니를 통해 다수의 상품을 한 번에 묶음 주문했을시 주문1회로 산정합니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                2. 월간쿠폰북
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <ul>
                                    <li>월간쿠폰북 발행월 1일 기준, 귀한분, 더귀한분, 천생연분 고객에게만 발급됩니다.</li>
                                    <li>월간쿠폰북은 각 등급에 따라 다른 구성의 쿠폰이 발급됩니다.</li>
                                    <li>월간쿠폰북의 쿠폰은 각 쿠폰의 최소주문금액 이상 주문 시 사용 가능합니다.</li>
                                    <li>차후 등급별 산정 기준 및 혜택은 변경될 수 있습니다.</li>
                                    <li>추가적인 문의사항은 아래 고객센터로 연락주세요. (Tel. 0000-0000 / 연중무류 24 시간 운영)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>

</html>