@font-face {
    font-family: "hanna";
    src: url("../fonts/BMHANNAPro.ttf");
}

/** {*/
/*    font-family: "hanna", sans-serif;*/
/*}*/

header {
    background-color: #5FBEBB;
}

.bg-main {
    background-color: #5FBEBB;
}

.form-join {
    max-width: 400px;
    padding: 15px;
}
