@font-face {
    font-family: "hanna";
    src: url("../fonts/BMHANNAPro.ttf");
}

* {
    font-family: "hanna", sans-serif;
}

header {
    background-color: #5FBEBB;
}

.bg-main {
    background-color: #5FBEBB;
}

.form-join {
    max-width: 400px;
    padding: 15px;
}

.custom-btn {
    --bs-btn-font-weight: 600;
    --bs-btn-color: black;
    --bs-btn-bg: #5FBEBB;
    --bs-btn-border-color: #5FBEBB;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #58B3B0;
    --bs-btn-hover-border-color: #58B3B0;
}