@font-face {
    font-family: "hanna";
    src: url("../fonts/BMHANNAPro.ttf");
}

/** {*/
/*    font-family: "hanna", sans-serif;*/
/*}*/

header {
    background-color: #5FBEBB;
}

.bg-main {
    background-color: #5FBEBB;
}

.form-join {
    max-width: 400px;
    padding: 15px;
}

.white, .white a {
    color: #fff;
    cursor: pointer;
}
/*에러발생*/
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
}

.fs-custom {
    font-size: 90%;
}

.img-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}