<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<head>
    <link rel="stylesheet" href="/css/login.css">
    <title>배달의 민족 | 로그인</title>
</head>
<body>
<header th:replace="fragments/basicHeader::basicHeader"></header>

<article class="form-signin w-100 m-auto mt-4 text-center">
    <form action="/login" method="post">
        <img class="mb-4" src="/img/icon_logo.png" height="70" alt="main_logo">
        <div class="form-floating">
            <input type="email" class="form-control" id="loginId" placeholder="name@example.com" style="font-family: sans-serif">
            <label for="loginId">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="loginPw" placeholder="Password" style="font-family: sans-serif">
            <label for="loginPw">Password</label>
        </div>
        <div class="checkbox mb-3">
            <div class="row justify-content-md-center mt-2">
                <div class="col text-start">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <div class="col text-end">
                    <a href="/login/loginId" class="text-muted text-decoration-none">아이디 찾기</a> | <a href="/login/password" class="text-muted text-decoration-none">비밀번호 찾기</a>
                </div>
            </div>
        </div>
        <button class="w-100 btn btn-lg baemin-btn" id="btn_login" type="submit">로그인</button>
    </form>
</article>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>