<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<div th:replace="fragments/notifications::notifications(${notifications})"></div>

<article class="container px-4 py-5">
    <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-4 py-5 text-decoration-none">
        <!-- row 1 -->
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_01.png" th:src="@{/img/category_01.png}" class="card-img" alt="족발·보쌈">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">족발·보쌈</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_02.png" th:src="@{/img/category_02.png}" class="card-img" alt="돈까스·회·일식">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">돈까스·회·일식</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_03.png" th:src="@{/img/category_03.png}" class="card-img" alt="피자">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">피자</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_04.png" th:src="@{/img/category_04.png}" class="card-img" alt="찜·탕·찌개">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">찜·탕·찌개</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_05.png" th:src="@{/img/category_05.png}" class="card-img" alt="중식">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">중식</h5>
                    </div>
                </a>
            </div>
        </div>
        <!-- row 2 -->
        <div class="col">
            <div class="card">
                <a href="/stores?category=CHICKEN" th:href="@{/stores(category=CHICKEN)}">
                    <img src="/img/category_06.png" th:src="@{/img/category_06.png}" class="card-img" alt="치킨">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">치킨</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_07.png" th:src="@{/img/category_07.png}" class="card-img" alt="버거">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">버거</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_08.png" th:src="@{/img/category_08.png}" class="card-img" alt="분식">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">분식</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="/stores?category=CAFE">
                    <img src="/img/category_09.png" th:src="@{/img/category_09.png}" class="card-img" alt="카페·디저트">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">카페·디저트</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#">
                    <img src="/img/category_10.png" th:src="@{/img/category_10.png}" class="card-img" alt="백반·죽·국수">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark">백반·죽·국수</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</article>

<footer th:replace="fragments/footer::footer"></footer>
</body>

</html>