<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(~{::title})">
    <title>배달의 민족</title>
</head>
<body>
<header th:replace="fragments/loginHeader::loginHeader"></header>
<section th:replace="fragments/notifications::notifications(${notifications})"></section>
<section th:replace="stores/fragments/basket::basket(${basket})"></section>

<article th:replace="fragments/homeSelect::homeSelect"></article>

<footer th:replace="fragments/footer::footer"></footer>
</body>

</html>