<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 장바구니 -->
<section th:fragment="basket (baskets)">
    <div class="modal fade" id="cartList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">장바구니</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col fw-bolder" th:text="${baskets.get(0).store.storeName}">
                            BBQ XX점
                        </div>
                    </div>
                    <!-- 주문 내역 -->
                    <div class="card mt-3" th:each="basket : ${baskets}">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col fw-bolder" th:text="${basket.menuOption.menu.mainTitle}">
                                    핫 황금올리브 핫크리스피
                                </div>
                                <div class="col-sm-1 d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn-close"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex position-relative">
                                        <img src="https://via.placeholder.com/100x100" th:src="${basket.menuOption.menu.uploadFile.storeFileName}" class="flex-shrink-0 border" alt="img" style="height: 100px;">
                                        <div>
                                            <ul class="text-muted fs-custom">
                                                <li th:if="${basket.menuOption.optionName} == null">가격 : <span th:text="|${#numbers.formatInteger(basket.menuOption.price, 0, 'COMMA')}원|">22,000원</span></li>
                                                <li th:if="${basket.menuOption.optionName} != null">가격 : <span th:text="|${basket.menuOption.optionName} (${#numbers.formatInteger(basket.menuOption.price, 0, 'COMMA')}원)|">윙.봉 (22,000원)</span></li>
                                                <li>사이드메뉴 추가선택 : <span>더블치즈볼 5개 (5,000원)</span></li>
                                            </ul>
                                            <div class="ms-3" th:name="${#ids.seq('data')}" th:value="${basket.orderPrice}" th:text="|${#numbers.formatInteger(basket.orderPrice, 0, 'COMMA')}원|">27,000원</div>
                                            <input type="hidden" readonly th:name="${#ids.seq('data')}" class="form-control-plaintext ms-3" id="staticEmail" th:value="${basket.orderPrice}" onload="alert('test')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 주문 내역 -->
                    <!-- 주문 가격 -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="row">
                                <label for="totalOrderPrice" class="col-sm-3 col-form-label">총 주문금액</label>
                                <div class="col-sm-9">
                                    <input type="text" id="totalOrderPrice" name="totalOrderPrice" class="form-control-plaintext ms-3 pe-3 text-end" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <label for="deliveryTip" class="col-sm-3 col-form-label">배달팁</label>
                                <div class="col-sm-9">
                                    <input type="text" id="deliveryTip" name="deliveryTip" value="3,000원" class="form-control-plaintext ms-3 pe-3 text-end" readonly>
                                </div>
                            </div>
                            <div class="row border-top">
                                <label for="totalPrice" class="col-sm-3 col-form-label fw-bold">결제예정금액</label>
                                <div class="col-sm-9">
                                    <input type="text" id="totalPrice" name="totalPrice" class="form-control-plaintext ms-3 pe-3 text-end fw-bold" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="fs-custom text-muted mt-3">(주)우아한형제들은 상품거래에 대한 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 따라서, (주)우아한형제들은 상품, 거래정보 및 거래에 대하여 책임을 지지 않습니다.</p>
                    <!-- 주문 가격 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn baemin-btn w-100">주문하기</button>
                </div>
            </div>
        </div>
    </div>
</section>